<div class="column is-half-tablet is-one-third-desktop">
  <div class="card candidate">
    <div class="card-image">
      <figure class="image is-4by5">
        <img
            src="{{ img_path }}"
            alt="Profile image for {{ name }}"
            />
      </figure>
    </div>
    <div class="card-content is-centered">
      <h4 class="subtitle">{{ post }}</h4>
      <h3 class="title">{{ name }}</h3>
      <h4>{{ dept }}</h4>
    </div>
     <footer class="card-footer">
      <a target="_blank" href="{{ statement | default: "#" }}" class="card-footer-item">Candidate Statement&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
  </footer>
  </div>
</div>

