<div class="column is-one-third">
  <div class="card candidate">
    <div class="card-image">
      <figure class="image is-1by1">
        <img
            src="{{ img_path }}"
            alt="Profile image for {{ name }}"
            />
      </figure>
    </div>
    <div class="card-content is-centered">
      <h3 class="title">{{ name }}</h3>
      <h4 class="subtitle">{{ dept }}</h4>
      <h4 class="subtitle">{{ post }}</h4>
    </div>
     <footer class="card-footer">
      <a href="{{ statement | default: "#" }}" class="card-footer-item">Candidate Statement&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
  </footer>
  </div>
</div>

